/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body, h1, h2, h3, h4, p,
figure, blockquote, dl, dd {
  margin-block-end: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1, h2, h3, h4,
button, input, label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1, h2,
h3, h4 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input, button,
textarea, select {
  font-family: inherit;
  font-size: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

.flex--space-between, .flex--center, .flex-item {
  align-items: center;
  display: flex;
  gap: 1rem;
}

.flex--center {
  justify-content: center;
  flex-direction: column;
}

.flex--space-between {
  justify-content: space-between;
}

.m-b {
  margin-bottom: 1.5rem;
}

.game__board {
  width: 94%;
  max-width: 30rem;
  background-color: #030616;
  position: relative;
  z-index: 100;
  padding: 3rem 1rem;
  border-radius: 8px;
  box-shadow: 0px 20px 50px 10px rgba(0, 0, 0, 0.35);
}
.game__title {
  font-size: 2rem;
  background: linear-gradient(to right, #f2f5f9, rgb(116, 41, 198) 40%, rgb(201, 81, 231));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.game__word {
  background-color: #4a5567;
  color: #97a3b6;
  padding: 1rem;
  border-radius: 0.5rem;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1rem;
  font-weight: 600;
  font-size: 1.5rem;
}
.game__stats, .game__text__fields, .game__buttons {
  max-width: 25rem;
  margin: 0 auto 1.5rem;
}
.game__stats {
  flex-direction: column;
}
.game__stats__text {
  font-weight: 600;
  letter-spacing: 1px;
  font-size: 0.875rem;
  color: #4a5567;
}
.game__tries, .game__mistakes {
  align-self: flex-start;
}
.game__mistakes {
  color: rgb(201, 81, 231);
}
.game__mistakes__display p {
  opacity: 0.5;
}
.game__tries__circles {
  display: flex;
  align-items: center;
  gap: 0.3rem;
}
.game__tries__circle {
  height: 0.5rem;
  width: 0.5rem;
  border-radius: 50%;
  background-color: #97a3b6;
}
.game__tries__circle.highlight {
  background-color: rgb(201, 81, 231);
}
.game__text__fields {
  display: grid;
  gap: 0.75rem;
}
.game__text__fields.six {
  grid-template-columns: repeat(6, 1fr);
}
.game__text__fields.five {
  grid-template-columns: repeat(5, 1fr);
}
.game__text__field {
  border: 1.75px solid #97a3b6;
  border-radius: 4px;
  height: 3.75rem;
  font-size: 1.5rem;
  position: relative;
  color: #f2f5f9;
}
.game__text__field.highlight {
  border-color: rgb(201, 81, 231);
}
.game__text__field.highlight::before {
  content: "";
  height: 2px;
  width: 40%;
  background-color: #f2f5f9;
  position: absolute;
  bottom: 0.75rem;
  left: 50%;
  transform: translate(-50%, 50%);
}
.game__alert {
  font-size: 0.875rem;
  color: #97a3b6;
  grid-column: 1/-1;
  letter-spacing: 0.5px;
}
.game__buttons {
  margin-top: 3rem;
  display: grid;
  grid-template-columns: 40% 40%;
  place-content: center;
  gap: 1rem;
}
.game__buttons button {
  border: 0;
  cursor: pointer;
  padding: 1rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  border-radius: 4px;
  transition: all 0.2s linear;
}
.game__buttons button:first-child {
  background-color: rgb(116, 41, 198);
  color: #f2f5f9;
  box-shadow: 0px 0.3rem rgba(201, 81, 231, 0.7);
}
.game__buttons button:first-child:hover {
  transform: translateY(0.1rem);
  box-shadow: 0px 0.125rem rgba(201, 81, 231, 0.7);
}
.game__buttons button:last-child {
  background-color: transparent;
  color: #f2f5f9;
  border: 1.5px solid;
}
.game__buttons button:last-child:hover {
  background-color: #f2f5f9;
  color: #672171;
}

@media screen and (min-width: 32rem) {
  .game__board {
    padding: 5rem 2.5rem;
  }
  .game__stats {
    flex-direction: row;
  }
  .game__stats, .game__text__fields, .game__buttons {
    width: 90%;
    max-width: 25rem;
  }
}
body {
  background-image: linear-gradient(to bottom right, #672171 20%, rgb(116, 41, 198) 60%, rgb(201, 81, 231));
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  display: grid;
  place-items: center;
  padding: 2rem 0;
}

.main-title {
  position: absolute;
  text-transform: uppercase;
  transform: rotate(30deg);
  transform-origin: center;
  letter-spacing: 14px;
  color: #f2f5f9;
  opacity: 0.3;
  animation: wiggle 3s ease 0.2s 4;
  display: none;
}

.hide {
  display: none !important;
}

@media screen and (min-width: 50rem) {
  .main-title {
    display: block;
    font-size: 4rem;
  }
}
@media screen and (min-width: 70rem) {
  .main-title {
    font-size: 6rem;
  }
}
@media screen and (min-width: 90rem) {
  .main-title {
    letter-spacing: 2rem;
  }
}
@keyframes wiggle {
  0% {
    transform: rotate(30deg);
  }
  25% {
    transform: rotate(35deg);
  }
  50% {
    transform: rotate(25deg);
  }
  75% {
    transform: rotate(35deg);
  }
  100% {
    transform: rotate(20deg);
  }
}

/*# sourceMappingURL=styles.css.map */
