@use 'variables';

.game{

    &__board {
        width: 94%;
        max-width: 30rem;
        background-color: variables.$color-black;
        position: relative;
        z-index: 100;
        padding: 3rem 1rem;
        border-radius: 8px;
        box-shadow: 0px 20px 50px 10px rgba(0,0,0,0.35);
    }

    &__title {
        font-size: 2rem;
        // text gadient
        background: linear-gradient(to right, variables.$color-white, variables.$color-accent 40%, variables.$color-accent-light);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    &__word {
        background-color: variables.$color-gray-dark;
        color: variables.$color-gray;
        padding: 1rem;
        border-radius: .5rem;
        width: 100%;
        text-align: center;
        text-transform: uppercase;
        letter-spacing: 1rem;
        font-weight: 600;
        font-size: 1.5rem;
    }

    &__stats,
    &__text__fields,
    &__buttons {
        max-width: 25rem;
        margin: 0 auto 1.5rem;
    }

    &__stats {
        flex-direction: column;
    }

    &__stats__text {
        font-weight: 600;
        letter-spacing: 1px;
        font-size: .875rem;
        color: variables.$color-gray-dark;
    }

    &__tries,
    &__mistakes {
        align-self: flex-start;
    }

    &__mistakes {
       color: variables.$color-accent-light;
       flex-wrap: wrap;
       gap: .3rem;

    }

    &__mistakes__display {
        p {
            opacity: .5;
        }
    }

    &__tries__circles {
        display: flex;
        align-items: center;
        gap: .3rem;
    }

    &__tries__circle {
        height: .5rem;
        width: .5rem;
        border-radius: 50%;
        background-color: variables.$color-gray;

        &.highlight {
            background-color: variables.$color-accent-light;
        }
    }

    &__text__fields {
        display: grid;
        gap: .75rem;

        &.six {
            grid-template-columns: repeat(6, 1fr);
        }

        &.five {
            grid-template-columns: repeat(5, 1fr);
        }
    }

    &__text__field {
        border: 1.75px solid variables.$color-gray;
        border-radius: 4px;
        height: 3.75rem;
        font-size: 1.5rem;
        position: relative;
        color: variables.$color-white;

        &.highlight {
            border-color: variables.$color-accent-light;

            &::before {
                content: '';
                height: 2px;
                width: 40%;
                background-color: variables.$color-white;
                position: absolute;
                bottom: .75rem;
                left: 50%;
                transform: translate(-50%, 50%);
            }
        }

        &.correct {
            background-color: variables.$color-accent-light;
            // color: variables.$color-white !important;
            
            &::before {
                display: none;
            }
        }

        &.winner:first-child {
            animation: winner 2s ease-in-out 0s infinite forwards;
        }

        &.winner:nth-of-type(2) {
            animation: winner 2s ease-in-out 0.2s infinite forwards;
        }

        &.winner:nth-of-type(3) {
            animation: winner 2s ease-in-out 0.4s infinite forwards;
        }

        &.winner:nth-of-type(4) {
            animation: winner 2s ease-in-out 0.6s infinite forwards;
        }

        &.winner:nth-of-type(5) {
            animation: winner 2s ease-in-out 0.8s infinite forwards;
        }

        &.winner:nth-of-type(6) {
            animation: winner 2s ease-in-out 1s infinite forwards;
        }
    }

    &__alert {
        font-size: .875rem;
        color: variables.$color-gray;
        grid-column: 1 / -1;
        letter-spacing: .5px;
    }

    &__buttons {
        margin-top: 3rem;
        display: grid;
        grid-template-columns: 40% 40%;
        place-content: center;
        gap: 1rem;

        button {
            border: 0;
            cursor: pointer;
            padding: 1rem;
            text-transform: uppercase;
            letter-spacing: 1px;
            border-radius: 4px;
            transition: all .2s linear;
        }

        button:first-child {
            background-color: variables.$color-accent;
            color: variables.$color-white;
            box-shadow: 0px .3rem rgba(201, 81, 231, .7);

            &:hover {
                transform: translateY(.1rem);
                box-shadow: 0px .125rem rgba(201, 81, 231, .7);
            }
        }

        button:last-child {
            background-color: transparent;
            color: variables.$color-white;
            border: 1.5px solid;

            &:hover {
                background-color: variables.$color-white;
                color: variables.$color-accent-dark;
            }
        }
    }


} 

@media screen and (min-width: 32rem) {
    .game {
        &__board {
            padding: 5rem 2.5rem;
        }

        &__stats {
            flex-direction: row;
        }

        &__stats,
        &__text__fields,
        &__buttons {
            width: 90%;
            max-width: 25rem;
        }
    }
}

@keyframes winner {
    0%{
        transform: translateY(0);
    }

    25% {
        transform: translateY(-.5rem);
    }

    50% {
        transform: translateY(1rem);
    }

    75% {
        transform: translateY(-.5rem);
    }

    100% {
        transform: translateY(1rem);
    }
}