@use 'reset';
@use 'utils';
@use 'variables';
@use 'game';
@use 'modal';


body {
    // color: ;
    background-image: linear-gradient(to bottom right, variables.$color-accent-dark 20%, variables.$color-accent 60%, variables.$color-accent-light);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: grid;
    // place-content: center;

    place-items: center;
    padding: 2rem 0;

}

.main-title {
    position: absolute;
    text-transform: uppercase;
    transform: rotate(30deg);
    transform-origin: center;
    letter-spacing: 14px;
    color: variables.$color-white;
    opacity: .3;
    animation: wiggle 3s ease .2s 4;
    display: none;
}

.hide {
    display: none !important;
}

.show {
    transform: scale(1);
}

@media screen and (min-width: 50rem) {
    .main-title {
        display: block;
        font-size: 4rem;

    }
}

@media screen and (min-width: 70rem) {
    .main-title {
        font-size: 6rem;
    }
}

@media screen and (min-width: 90rem) {
    .main-title {
        letter-spacing: 2rem;
    }
}


@keyframes wiggle {
    0% {
        transform: rotate(30deg);
    }

    25% {
        transform: rotate(35deg);
    }

    50% {
        transform: rotate(25deg);
    }

    75% {
        transform: rotate(35deg);
    }

    100% {
        transform: rotate(20deg);
    }

}